@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
body,* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    background-color: rgba(163, 222, 208, 0.56);
}

h1 {
    font-size: 30px;
    text-align: center;
    background-color: #088178;
    color: #fff;
    padding: 30px;
    font-family: 'Spartan', sans-serif;
}

section {
    width: 90%;
    margin: 41px auto;
    padding: 23px 278px;
}

form div {
    margin-bottom: 15px;
}

.input_labels,.radio_labels {
    font-size: 20px;
    font-weight: 300;
    margin-right: 15px;
}

.inputs {
    padding: 10px;
    width: 70%;
}

.labels input{ 
    border: none;
    border-bottom: 2px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

button.enroll{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: #088178;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
    border-radius: 5px;
 }

.display {
    margin-top: 50px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.data {
    border: 1px solid black;
    width: 59%;
    display: flex;
    border-radius: 5px;
    margin-bottom: 15px;
}

.data_body {
    display: grid;
    place-items: left;
    text-transform: capitalize;
    padding: 20px;
}

h4 {
    text-align: left;
}

.email {
    text-transform: lowercase;
}

.website {
    text-transform: lowercase;
}

.image img {
    width: 159px;
    height: 159px;
}

hr{
    border: 1px solid #088178;
    border-radius: 20px;
}